/* Core CSS styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,500&family=Outfit:wght@200;300;400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--background-img: url(./images/background--img.jpg);
	--background-color: #ffffff;
	--text-color-1: rgb(69, 71, 70);
	--text-color-2: #fff;
	--color-1: rgb(228, 231, 255);
	--color-2: rgb(241, 235, 253);
	--color-3: rgb(234, 214, 250);
	--color-4: rgba(200, 148, 255, 0.6);
}

body {
	margin: 0;
	font-family: 'Montserrat', 'Outfit', serif, sans-serif;
	font-size: 16px;
	color: var(--text-color-1);
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Outfit', sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
}

p {
	font-size: 0.9rem;
	font-weight: 300;
}

img {
	max-width: 100%;
	border: 1px solid black;
}

label,
input,
textarea {
	margin: 0 auto;
	width: 90%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 5%;
	font-size: 1.2rem;
}

div {
	border: 1px solid white;
}

/* Universal style traits */
.row-col {
	display: flex;
	flex-direction: column;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.btn {
	border: 1px solid rgb(154, 154, 154);
	padding: 0.25em 0.75em;
	color: var(--text-color-1);
}

.welcome__btn, .project__btn, .projects__btn--more, .submit__btn, .arrow__btn {
	background-color: var(--color-3);
	font-size: 0.9rem;
	color: var(--text-color-1);
}

.welcome__btn:hover, .project__btn:hover, .projects__btn--more:hover, .submit__btn:hover {
	background-color: var(--color-1);
	transition: 2s;
}

/* Mobile-first design traits */

/* Navbar */

.navbar {
	padding: 0em 0;
	text-align: center;
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
	backdrop-filter: blur(8px);
	background-color: var(--color-4);
}

.nav__list {
	padding: 0;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	align-items: center;
	list-style: none;
}

.logo,
.nav__link {
	font-size: 1.8rem;
	transition: 0.3s;
}

.logo {
	font-family: 'Outfit', sans-serif;
	font-weight: 900;
}

.logo,
.logo--desktop {
	color: var(--text-color-1);
}

.logo--desktop,
.nav__link--desktop {
	display: none;
}

.nav__link--mobile,
.nav__link--mobile {
	color: var(--text-color-1);
}

.logo:hover, .nav__link :hover{
	color: var(--color-1);
	transition: 0.3s;
}

/* Hero-Home Section */

.hero {
	padding: 2em 0;
}

.welcome__subsection {
	padding-bottom: 1em;
}

.welcome__title {
	font-size: 1.5rem;
}

.subtitle {
	font-size: 1rem;
}

.welcome__subtext {
	padding-bottom: 1em;
}


/* Projects Section */

.projects__main {
	background-color: var(--text-color-2);
}

.projects__title {
	text-align: justify;
}

.project__card {
	/* background-color: var(--color-2); */
	padding: 1.5em;
}

.project__card + .project__card {
	margin-top: 1.5em;
}

.project__card--btns, .projects__btn {
	padding: 1em 0;
}

.project__details {
	background-color: var(--background-color);
}

.project__text {
	padding: 0 1em;
}

.project__card--btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

/* Contact Section */

.contact__title, .form-container{
	display: none;
}

.icon__link {
	font-size: 3rem;
	color: black;
}
.contact__icons {
	width: fit-content;
	margin: 0 auto;
	padding: 1em;
}
.contact__item {
	margin: 10px;
}

.icon__link {
	color: var(--text-color-1);
}

.icon__link:hover{
	color: var(--color-4);
	transition: 2s;
}

.submit__btn {
	margin-left: 5%;
}

.return__btn {
	width: fit-content;
	margin: 0 auto;
	padding-bottom: 2em;
}

@media (min-width: 750px) {
	/* body {
		background-image: var(--background-img);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
	} */

	.container {
		width: 750px;
		/* border: 1px solid red; */
		padding: 1em;
	}

	/* Navbar Section  */

	.logo,
	.nav__link--mobile {
		display: none;
	}

	.logo--desktop,
	.nav__link--desktop {
		display: flex;
		
		font-size: 1rem;
		color: var(--text-color-1)
	}

	.nav {
		/* border: 1px solid red; */
		visibility: visible;
		display: flex;
		height: auto;
		align-items: center;
		width: fit-content;
	}

	.nav__list {
		margin-top: 0.4em;
		padding: 0;
		list-style: none;
		display: flex;
		font-size: 0.9rem;
	}

	.nav__item {
		padding-top: 0.5em;
		/* border: 1px solid white; */
		font-family: 'Montserrat', serif;
		text-transform: uppercase;
	}

	.nav__item + .nav__item {
		margin-left: 1.5em;
	}

	/* Hero/Welcome Section */
	.hero {
		padding: 10em 0;
	}
	.welcome__title {
		font-size: 2.1rem;
		width: 90%;
	}

	.welcome__subsection {
		padding-top: 1em;
		padding-right: 1.5em;
		width: 80%;
		text-align: justify;
	}

	/* Projects section */

	.projects > .row {
		display: flex;
		flex-direction: column;
	}

	.project__card + .project__card {
		margin-top: 0;
	}

	/* Contact Section */
	.form {
		border: 1px solid black;
		padding: 1em;
		display: flex;
		flex-direction: column;
		width: 50%;
		margin: 0 auto;
	}
}

@media (min-width: 1000px) {
	/* Overall changes */
	.container {
		width: 1000px;
	}

	/* Project Section */

	.projects > .row {
		display: flex;
		flex-direction: column;
	}

	.projects {
		padding: 2em;
	}

	.projects__container {
		padding: 1em 0;
	}

	.project__card + .project__card {
		margin-left: 30px;
	}

	.project__btn + .project__btn {
		margin-left: 30px;
	}
}
