@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,500&family=Outfit:wght@200;300;400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--background-img: url(./images/background--img.jpg);
	--background-color: #ffffff;
	--text-color-1: #1a1a1a;
	--text-color-2: #fff;
	

}
/* TODO - fix hovering on all links */
/* TODO - fix about page */
/* Core CSS styling */
body {
	margin: 0;
	font-family: 'Montserrat', 'Outfit', serif, sans-serif;
	font-size: 16px;

}

a {
	text-decoration: none;
}

p {
	font-size: 0.9rem;
	font-weight: 200;
}

h1 {
	font-family: 'Outfit', sans-serif;
	font-weight: 900;
}

img {
	max-width: 100%;
	border: 1px solid black;
}

header,
section {
	border: 1px solid black;
}

label,
input,
textarea {
	margin: 0 auto;
	width: 95%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* Common style traits */
.row {
	display: flex;
	flex-direction: column;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	/* added for nav-toggle positioning */
	position: relative;
	overflow: hidden;	
}

.btn {
	border: 1px solid black;
	padding: 0.25em 0.75em;
	border-radius: 10px;
}

/* Navbar */

.navbar {
	padding: 1em 0;
	text-align: center;
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
	backdrop-filter: blur(8px);
}
.nav {
	width: 100%;
}
.logo {
	font-family: 'Outfit', sans-serif;
	color: white;
	font-size: 1.2rem;
	padding-top: 0.4em;
	font-weight: 900;
}

.logo--desktop {
	display: none;
}




/* Hero-welcome Section */


.hero {
	padding: 2em 0;
}

.welcome__title {
	font-size: 1.5rem;
}

.subtitle {
	font-size: 1rem;
}

.welcome__subtext {
	font-size: 0.9rem;
	font-weight: 200;
	padding-bottom: 1em;
}

.welcome__btn {
	font-size: 0.9rem;
	color: black;
}

/* Projects Section */
.projects__title {
	text-align: center;
}

.project__card {
	border: 1px solid black;
	padding: 1em;
}

.project__card + .project__card {
	margin-top: 20px;
}

.project__title {
	font-size: 1.2rem;
}
.project__text {
	font-size: 0.9rem;
}

.project__btn {
	color: black;
}

.projects__btn {
	margin-top: 10px;
	color: black;
	width: fit-content;
}

/* Contact Section */

.submit__btn {
	margin-top: 1em;
	width: fit-content;
}

.icon__link {
	font-size: 3rem;
	color: black;
}
.contact__icons {
	border: 1px solid black;
	width: fit-content;
	margin: 0 auto;
	padding: 1em;
}
.contact__item {
	margin: 10px;
}

.contact__icons :hover {
	color: blue;
}
@media (min-width: 750px) {
	body {
		background-image: var(--background-img);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
	}

	.container {
		width: 750px;
		border: 1px solid red;
		padding: 1em;
	}

	/* Navbar Section  */
	.nav-toggle {
		display: none;
	}
	.navbar {
		overflow: hidden;
	}

	.logo {
		padding-right: 0.5em;
	}
	.nav {
		/* border: 1px solid red; */
		visibility: visible;
		display: flex;
		height: auto;
		align-items: center;
		width: fit-content;
	}

	.row {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.nav__list {
		margin-top: 0.4em;
		padding: 0;
		list-style: none;
		display: flex;
		font-size: 0.9rem;
	}

	.nav__item {
		padding-top: 0.5em;
		/* border: 1px solid white; */
		font-family: 'Montserrat', serif;
		text-transform: uppercase;
	}

	.nav__item + .nav__item {
		margin-left: 1.5em;
	}

	/* Hero/Welcome Section */
	.hero {
		padding: 10em 0;
	}
	.welcome__title {
		font-size: 2.1rem;
		width: 90%;
	}

	.welcome__subsection {
		padding-top: 1em;
		padding-right: 1.5em;
		width: 80%;
		text-align: justify;
	}

	/* Projects section */

	.projects > .row {
		display: flex;
		flex-direction: column;
	}

	.project__card + .project__card {
		margin-top: 0;
	}

	/* Contact Section */
	.form {
		border: 1px solid black;
		padding: 1em;
		display: flex;
		flex-direction: column;
		width: 50%;
		margin: 0 auto;
	}
}

@media (min-width: 1000px) {
	/* Overall changes */
	.container {
		width: 1000px;
	}

	/* Project Section */

	.projects > .row {
		display: flex;
		flex-direction: column;
	}

	.projects {
		padding: 2em;
	}

	.projects__container {
		padding: 1em 0;
	}

	.project__card + .project__card {
		margin-left: 30px;
	}

	.project__btn + .project__btn {
		margin-left: 30px;
	}
}
