@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,500&family=Outfit:wght@200;300;400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', 'Outfit', serif, sans-serif;
	font-size: 16px;
}

a {
    text-decoration: none;
}

p {
    font-size: 0.9rem;
    font-weight: 200;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
}

img {
    max-width: 100%;
}

header {
	background: #c7c9cf;
	padding: 1em 0;
	text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	/* added for nav-toggle positioning */
	position: relative;
}

.logo {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 1.2rem;
    padding-top: 0.4em;
    font-weight: 900;
}

.nav {
	width: 100%;
}

.nav-toggle {
	cursor: pointer;
	border: 0;
	width: 3em;
	height: 3em;
	padding: 0em;
    padding-bottom: 0.1em;
	border-radius: 50%;
	background: #a59678;
	color: white;
	transition: opacity 250ms ease;
	position: absolute;
	left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
	opacity: 0.75;
}

.hamburger {
	width: 50%;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background: white;
}

.hamburger::before,
.hamburger::after {
	content: '';
	width: 100%;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
} 

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
	visibility: hidden;
	height: 0;
}

.nav--visible {
	visibility: visible;
	height: auto;
	position: relative;
}

.nav__list {
	align-items: center;
	padding-left: 0;
	font-size: 1rem;
}

.nav__list--primary {
    padding-top: 1em;
	padding-bottom: 1em;
}

.nav__item {
	/* border: 1px solid white; */
	list-style: none;
	padding-bottom: 1rem;
}
.nav__link {
	text-decoration: none;
	color: #fff;
}

.nav__link:hover,
.nav__link:focus {
	opacity: 0.65;
}

.nav__link--button {
	background-color: #a59678;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	padding: 0.25em 0.75em;
	border-radius: 100px;
}

.hero{
    padding: 2em 0;
    border: 1px solid black;
}

.welcome__title {
    font-size: 1.5rem;
}

.welcome__subtext {
    font-size: 0.9rem;
    font-weight: 200;
}



@media (min-width: 700px) {

}